SECRET_KEY=your secret key  (written without quotes)

DEBUG=True or False

DATABASE_NAME=database name (written without quotes)
DATABASE_USER=database username (written without quotes)
DATABASE_PASSWORD=database password (written without quotes)
